main {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  font: Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
  padding-top: 40px;
}
button {
  cursor: context-menu;
}
ul {
  padding: 0;
}
.todo-parent {
  margin-bottom: 40px;
}
.all-todos {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 926px;
  height: 140px;
  border-radius: 10px;
  background-color: #b2dfda;
  box-sizing: border-box;
}
.all-buttons {
  margin-left: 30px;
  width: 200px;
  height: 63px;
  font-size: 36px;
  border:0;
  border-radius: 10px;
}
.display-none {
  display: none;
}
.done-new {
  display: table-cell;
  vertical-align: bottom;
  text-align: right;
  width: 886px;
  height: 62px;
}
.done-new button {
  font-size: 20px;
  width: 100px;
  height: 32px;
  border:0px;
  border-radius: 4px;
  background-color: #428bca;
  color:white;
  font-weight: bold;
}
.new button {
  background-color: #d9534f;
}
